body {
    color: #3c3756;
  }
  .jumbotron {
    background-image: url("https://www.cedars-sinai.org/content/dam/cedars-sinai/blog/2020/06/viruses-bacteria-fungi-s.jpg");
    background-size: 100% 100%;
  }
  